elpa*/
backup/
auto-save-list
eshell
*.elc
*.eld
recentf
*.dat
*.swp
*#
*.backup.el
*.backup
*emacs.desktop
*emacs.desktop.lock
*.backup
*.bak
*.workgroups
places
emacs-custom
emacs-custom.el
local.el
test/
anaconda-mode/
server/
smex-items
bookmarks
.session
history
transient/
site-lisp/
